<div>

  <div class="test-metadata-container">

    <div class="test-metadata">
      <div class="label">Description:</div>
      <div class="value">{{testsegment?.description}}</div>
    </div>

    <div class="test-metadata-details">
      <div class="test-metadata">
        <div class="label">Time To Answer:</div>
        <div class="value">{{testsegment?.timeToAnswer}} minutes</div>
      </div>
      <div class="test-metadata">
        <div class="label">Total Questions: </div>
        <div class="value">{{testsegment?.questionCount}}</div>
      </div>
      <div class="test-metadata">
        <div class="label">Maximum Marks: </div>
        <div class="value">{{testsegment?.pointCount}}</div>
      </div>
    </div>
  </div>


  <hr class="assign-meaningful-class-here" />


  <div class="test-sections-header">Test Sections</div>

  <div *ngFor="let testsection of testsegment?.testsections; let segmentsectionindex = index;">
    <app-testsection #testsectionRendering
                     (testQuestionAnsweredEvent)="testQuestionAnsweredClicked($event)"
                     [testsection]="testsection"
                     [testsectionResponse]="getInitialTestsectionResponseForTestsection(testsection)"
                     [segmentsectionindex]="segmentsectionindex"
                     [testStatus]="testStatus"
                     [instantGradeMode]="instantGradeMode">
    </app-testsection>
  </div>
</div>
