// Use Theme colors
@use 'assets/styles/themecolor' as themecolor;

// Declare color variables from theme
$primaryColorLight: themecolor.$primaryColorLight;

.test-section-student-instructions-text {
  background-color: $primaryColorLight;
  border-radius: 10px;
  padding: 10px 20px;
  width: 96%;
}
.smooth-out-obscene-text-sizes > h1 {
  font-size: large;
}
