<div class="test-container-main">

  <app-testsummary #testsummaryComponent
                   [testwithresponse]="testwithresponse">
  </app-testsummary>


  <app-testview (testResponseUpdater)="updateSummaryAndAnswerPanel($event)"
                (testQuestionAnsweredEvent)="testQuestionAnsweredClicked($event)"
                #testviewRendering>
  </app-testview>

  <app-test-answer-panel #testAnswerPanelComponent
                         [testwithresponse]="testwithresponse"
                         (answerPanelQuestionButtonClicked)="answerItemClicked($event)">
  </app-test-answer-panel>

</div>
