<ng-container *ngIf="testwithresponse && testwithresponse.test; else blankTestScreen">

  <div class="test-container-main">

    <app-testsummary #testsummaryComponent
                     [testwithresponse]="testwithresponse">
    </app-testsummary>


    <app-testview #testviewRendering
                  [testwithresponse]="testwithresponse"
                  (testResponseUpdater)="testAnswerPanelComponent.onTestResponseUpdatedEvent($event); testsummaryComponent.onTestResponseUpdatedEvent($event);"
                  (testQuestionAnsweredEvent)="testAnswerPanelComponent.onTestQuestionAnsweredEvent($event);">
    </app-testview>

    <app-test-answer-panel #testAnswerPanelComponent
                           [testwithresponse]="testwithresponse"
                           (answerPanelQuestionButtonClicked)="testviewRendering.renderQuestion($event)"
                           >
    </app-test-answer-panel>

  </div>
</ng-container>


<!-- This shows when there is no usertestId -->
<ng-template #blankTestScreen>
  <div class="test-container-main">
    <!--
    <app-empty-component-with-message [heading]="'Missing Test'"
                                      [message]="'Please select a Test from the Menu Bar.'">
    </app-empty-component-with-message>
      -->
    <app-empty-component-with-message heading="Missing Test"
                                      message="Please select a Test from the Menu Bar.">
    </app-empty-component-with-message>
  </div>
</ng-template>
