/*
@use 'sass:map';
@use '@angular/material' as mat;
@import '../../../../theme-etester.scss';
*/

/* Declare the theme of choice we want to use */
/**********************************************/
// $theme: $blue-theme;
/**********************************************/


/*
$color-config: mat.get-color-config($theme);

// get the chosen palette : primary, accent, warn
$primary-palette: map.get($color-config, 'primary');
$accent-palette: map.get($color-config, 'accent');

$primaryColor: mat.get-color-from-palette($primary-palette);
$primaryColorDark: mat.get-color-from-palette($primary-palette, 900);
$primaryColorLight: mat.get-color-from-palette($primary-palette, 50);
$accentColor: mat.get-color-from-palette($accent-palette);

*/

// Use Theme colors
@use 'assets/styles/themecolor' as themecolor;

// Declare color variables from theme
$primaryColor: themecolor.$primaryColor;
$primaryColorDark: themecolor.$primaryColorDark;
$primaryColorLight: themecolor.$primaryColorLight;
$accentColor: themecolor.$accentColor;

$summaryPanelColor: themecolor.$primaryColorLight;
$questionIndexPanelColor: themecolor.$primaryColorLight;
$questionPanelColor: themecolor.$primaryColorLight;



:host {
  flex: 1;
  background-color: $primaryColorDark;
}

.empty-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: $primaryColorLight;
  border: 3px solid $primaryColorDark;
}


.test-container-main {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 6px;
  flex-direction: row;
  /* setting the height to 100vh - what ever is teh height of the header and footer */
  height: calc(100vh - 118px);
  width: 100%;
  /* border: 5px solid green;*/
}
.test-container-main > app-testsummary {
  flex: 0 0 200px;
  background-color: $summaryPanelColor;
  margin-left: 0.2rem;
  border-radius: 0 10px 5px 0;
  border-width: 4px;
  border-style: ridge;
  border-color: $summaryPanelColor;
}


.test-container-main > app-test-answer-panel {
  flex: 0 0 200px;
  background-color: $questionIndexPanelColor;
  margin-right: 0.2rem;
  border-radius: 10px 0 0 5px;
  border-width: 4px;
  border-style: ridge;
  border-color: $questionIndexPanelColor;
}


.test-container-main > app-testview {
  flex: 1 1 auto;
  background-color: $questionPanelColor;
  border-radius: 10px 10px 5px 5px;
  border-width: 4px;
  border-style: ridge;
  border-color: $questionPanelColor;
}



@media (max-width: 768px) {
  .test-container-main {
    flex-direction: column;
    row-gap:6px;
    flex: 1;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .test-container-main > app-testsummary,
  .test-container-main > app-test-answer-panel {
    /* 12em is the width of the columns */
    flex: 0 0 auto;
  }
}
