/*
@use 'sass:map';
@use '@angular/material' as mat;
@import '../../../../theme-etester.scss';
// @import '@angular/material/theming';
*/

/* Declare the theme of choice we want to use */
/**********************************************/
// $theme: $blue-theme;
/**********************************************/

// $color-config: mat.get-color-config($theme);

@use 'assets/styles/themecolor' as themecolor;

$primaryColor: themecolor.$primaryColor;
$primaryColorDark: themecolor.$primaryColorDark;
$primaryColorLight: themecolor.$primaryColorLight;
$accentColor: themecolor.$accentColor;



.panel-background-color-theme {
//  @include angular-material-theme($color-config);

}

mat-toolbar {
    flex-wrap: wrap;
}

.logo {
  height: 100%
}

.header-spacer {
  flex: 1 1 auto;
}

.mat-icon-button {
  width: auto;
  height: auto;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: 10px;
  border-style: solid;
}

.mat-toolbar.mat-primary {
  background: $primaryColorLight;
  color: rgba(0, 0, 0, 0.87);
}

.mat-icon-button {
  background: $primaryColorLight;
}
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: $primaryColor;
}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
  background-color: $accentColor;
}
