@media (min-width: 768px) {
  .test-summary-scroll {
    max-height: calc(100vh - 124px);
    overflow-y: auto;
  }

  .test-summary {
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
  }

  .section-stats-display-panel > div {
      /* Not sure why I need !important.  However, i cannot get ot to work otherwise. */
    flex-direction: column !important;
  }
/*
  .section-stats-display-panel > div > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
*/


}


.test-summary {
  padding: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  /*    justify-content: space-between; */
}

  .test-summary-total,
  .test-summary-details {
    display: flex;
    flex-direction: column;
  }

  .summary-panel-header,
  .answer-panel-header {
    border: 0;
    font: inherit;
    font-size: smaller;
    font-weight: bolder;
    display: block;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
  }

 
.section-stats-display-panel > div {
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}

