// Use Theme colors
@use 'assets/styles/themecolor' as themecolor;

// Declare color variables from theme
$primaryColor: themecolor.$primaryColor;
$primaryColorDark: themecolor.$primaryColorDark;
$primaryColorLight: themecolor.$primaryColorLight;
$accentColor: themecolor.$accentColor;


@media (min-width: 768px) {
  .scroll {
    padding: 25px;
    background-color: inherit;
    /* Why do I need to subtract 194?  Its like this.... */
    /* Header = 65, Footer = 65, Red Border on body 3px (x2) on top and bottom, Container grid-gap of 4px (x2) Padding on scroll panel 25px (x2).  Total =  65 + 65 + 6 + 8 + 50 = 194px */
    /* Got rid of red border.  So, now, Header = 65, Footer = 65, Container grid-gap of 4px (x2) Padding on scroll panel 25px (x2).  Total =  65 + 65 + 8 + 50 = 188px */
    /* Padding is moved within main content.  So now, Header = 65, Footer = 65, Container grid-gap of 4px (x2).  Total =  65 + 65 + 8 = 138px */
    max-height: calc(100vh - 146px);
    overflow-y: auto; /* Add the ability to scroll */
  }
}
.test-metadata-container {
  display: flex;
  row-gap: 5px;
  flex-direction: column;
}

.test-metadata-heading {
  font-size: xx-large;
  font-weight: bold;
}

.test-metadata-details-container {
  display: flex;
  column-gap: 40px;
  flex-wrap: wrap;
}

.test-metadata {
  min-width: 180px;
  display: inline-block;
}
.test-metadata > .label {
  color: $primaryColorDark;
  margin-right: 10px;
  font-weight: bold;
  display: inline-block;
}
.test-metadata > .value {
  color: black;
  display: inline-block;
}



.test-metadata-status-panel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 30px;
  background-color: #aaa;
  color: $primaryColorLight;
  padding: 0px 10px;
  font-size: small;
}

.test-metadata-status-panel > .selected {
  font-style: italic;
  color: $primaryColorDark;
  font-weight: bold;
  font-size: large;
}


// Title for the test-segments accordian Panel
.test-segments-header {
  font-size: x-large;
  font-weight: bold;
  padding-bottom: 10px;
}

// padding and spacing within and between expansion-panels
.expansion-panel {
  padding: 5px 0;
  margin-bottom: 5px;
}

// Title displayed in EACH Expansion Panel
.expansion-panel-header-title {
  font-size: large;
  font-style: normal;
  font-weight: bold;
  color: $primaryColorDark;
}


