<div>


  <div class="test-metadata-container">

    <div class="test-metadata-details">
      <div class="test-metadata">
        <div class="label">Name:</div>
        <div class="value">{{testsection?.section?.name}}</div>
      </div>
    </div>

    <div class="test-metadata-details">
      <div class="test-metadata">
        <div class="label">Description:</div>
        <div class="value">{{testsection?.section?.description}}</div>
      </div>
    </div>

    <!--
        <div class="test-metadata-details">
          <div class="test-metadata">
            <div class="label">Report Subject: </span>
            <div class="value">{{testsection?.reportSubject}}</span>
          </div>
          <div class="test-metadata">
            <div class="label">Instructions Name: </span>
            <div class="value">{{testsection?.instructionsName}}</span>
          </div>
        </div>
    -->
    <div class="test-metadata-details">
      <div class="test-metadata">
        <div class="label">Time To Answer:</div>
        <div class="value">{{testsection?.timeToAnswer}} minutes</div>
      </div>
      <div class="test-metadata">
        <div class="label">Total Questions: </div>
        <div class="value">{{testsection?.questionCount}}</div>
      </div>
      <div class="test-metadata">
        <div class="label">Maximum Marks: </div>
        <div class="value">{{testsection?.pointCount}}</div>
      </div>
    </div>

    <div class="test-metadata-details">
      <div class="test-metadata">
        <div class="label">Marks for Correct Answer: </div>
        <div class="value">{{testsection?.pointsPerQuestion}}</div>
      </div>
      <div class="test-metadata">
        <div class="label">Minus marks for Wrong Answer: </div>
        <div class="value">{{testsection?.negativePointsPerQuestion}}</div>
      </div>
    </div>


  </div>

  <!--
    <div class="lord-shiva-test-section-section-text">
      <div id="god" [innerHTML]="testsection?.section?.text" class="smooth-out-obscene-text-sizes"></div>
    </div>
  -->
  <app-inner-html-renderer [htmlToRender]="testsection?.section?.text"></app-inner-html-renderer>

  <div class="test-questions-header">Questions:</div>
  <div [attr.idquestion]="question?.idQuestion" class="sesi" #questionAnswerBlock *ngFor="let question of testsection?.section?.questions?.slice(0, 2); let sectionquestionindex = index;">
    <app-question #questionRendering
                  (testQuestionAnsweredEvent)="testQuestionAnsweredClicked($event)"
                  [attr.id]="'question-' + question.idQuestion"
                  [question]="question"
                  [questionResponse]="getInitialQuestionResponseForQuestion(question)"
                  [sectionquestionindex]="sectionquestionindex"
                  [defaultQuestionInstructions]="testsection?.section?.questionInstructions"
                  [testStatus]="testStatus"
                  [instantGradeMode]="false"
                  [pointsPerQuestion]="pointsPerQuestion"
                  [negativePointsPerQuestion]="negativePointsPerQuestion"
                  [unansweredPointsPerQuestion]="unansweredPointsPerQuestion">
    </app-question>
  </div>
</div>
