// hsl(hue, saturation, lightness)
// 120=green
$primaryColor: hsl(120,100%,85%); // green with 85% lightness
$primaryColorDark: hsl(120,100%,25%); // dark with 25% lightness
$accentColor: hsl(120,100%,70%); // accent 70% lightness
$primaryColorLight: hsl(120,100%,95%); // light 95% lightness
