// $primaryColorDark is teh same value used in the test-container-component scss
$primaryColor: hsl(120,100%,75%); // light-green
$primaryColorDark: hsl(120,100%,25%); // dark-green
$primaryColorLight: hsl(120,100%,90%); //  light-green with 90%hue
$accentColor: hsl(120,100%,70%); // green with 70% hue
