@use './greentheme' as primarytheme;

$primaryColor: primarytheme.$primaryColor;
$primaryColorDark: primarytheme.$primaryColorDark;
$primaryColorLight: primarytheme.$primaryColorLight;
$accentColor: primarytheme.$accentColor;
