@media (min-width: 768px) {
  .answer-panel-scroll {
    max-height: calc(100vh - 124px);
    overflow-y: auto;
  }
}


.answer-panel {
  padding: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.answer-panel-header {
  border: 0;
  font: inherit;
  font-size: smaller;
  font-weight: bolder;
  display: block;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.answer-panel-section {

}

.answer-panel > .test-section-answer-panel > div,
.answer-panel > .test-section-answer-panel > div > div {
  display: block;
}

@media (max-width: 768px) {
  .answer-panel > .test-section-answer-panel > div,
  .answer-panel > .test-section-answer-panel > div > div {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
}
